.zoom{
    position: relative;
    padding: 10px;

    span{
        font-size: 28px;
        color: #1d1d1d;
        position: absolute;
        cursor: pointer;
        top: 20px;
        right: 20px;
    }

    div{
        width: 450px;
        height: 85vh;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media screen and (max-width: 500px){
        div{
            height: 90vh;
            width: 350px;
            margin: 0 auto;
        }

        span{
            right: 30px;
        }
    }

    @media screen and (max-width: 400px){
        div{
            height: 90vh;
            width: 310px;
            margin: 0 auto;
        }

        span{
            right: 20px;
        }
    }
}