@import '../../variables.scss';

.swiper-pagination-bullet{
    background: white !important;
    border: 1px solid rgba(29, 29, 27, 0.3);
    opacity: 1 !important;
}

.swiper{
    overflow-x: hidden !important;
    height: 100% !important;
}

.swiper-slide{
    padding-bottom: 20px !important;
}

.swiper-pagination{
    position: absolute !important;
    bottom: 0 !important;
}

.swiper-pagination-bullet-active{
    background: $app-footer-background !important;
}

.main-carousel{
    height: 488px;
    width: 100%;
    margin-bottom: 50px;

    .image{
        height: 93%;

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width: 900px){
    .main-carousel{
        height: 430px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px){
    .main-carousel{
        height: 390px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 420px){
    .main-carousel{
        height: 340px;
    }
}

@media screen and (max-width: 360px){
    .main-carousel{
        height: 300px;
    }
}