.help{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img{
        width: 43%;
        height: 500px;
    }

    &__list{
        width: 55%;

        &_load{
            width: 100%;
        }
    }

    @media screen and (max-width: 1100px){
        img{
            height: 450px;
        }
    }

    @media screen and (max-width: 1050px){
        img{
            width: 100%;
            height: 500px;
        }

        &__list{
            margin-top: 20px;
            width: 100%;
        }
    }

    @media screen and (max-width: 800px){
        img{
            height: 450px;
        }
    }

    @media screen and (max-width: 600px){
        img{
            height: 400px;
        }
    }

    @media screen and (max-width: 500px){
        img{
            height: 350px;
        }
    }

    @media screen and (max-width: 420px){
        img{
            height: 300px;
        }
    }

    @media screen and (max-width: 360px){
        img{
            height: 275px;
        }
    }
}