@import '../../variables.scss';

.navLinks{
    height: 65px;
    border-bottom: 1px solid #EEEEEE;

    @media screen and (max-width: 900px){
        display: none;
    }

    &__container{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        max-width: $app-container-width;
        margin: 0 auto;

        @media screen and (max-width: 1250px){
            max-width: 90%;
        }
    }

    &__links{
        a{
            margin-right: 15px;
        }
    }

    &__contact{
        display: flex;
        align-items: center;

        > span{
            font-size: 17px;
            line-height: 21px;
            color: #979797;

            a{
                text-decoration: none;
                font-family: 'Montserrat';
                font-size: 17px;
                line-height: 21px;
                color: #393939;
            }
        }

        div{
            margin-left: 5px;

            span{
                cursor: pointer;
                font-size: 20px;
                margin-left: 5px;
            }

            a{
                color: #646464;
                font-size: 21px;
            }
        }
    }   
}