.image-carousel{
    width: 100%;
    height: 340px;
    margin: 0 auto;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media screen and (max-width: 1050px) {
        height: 430px;
    }

    @media screen and (max-width: 700px) {
        height: 410px;
    }

    @media screen and (max-width: 480px) {
        height: 360px;
    }
}

.single-image{
    height: 450px;
    width: 80%;

    @media screen and (max-width: 800px) {
        height: 400px;
    }

    @media screen and (max-width: 500px){
        width: 100%;
        height: 380px;
    }
}