.public{
    &__wrapper{
        background: white;
        box-sizing: border-box;
        padding: 20px;

        p{
            font-weight: 300;
            font-size: 14px;
            line-height: 165%;
            margin: 0;
            margin-bottom: 20px;
            color: #5B5B5B;
        }
    }
}