.loadBtn{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 15px;
    
    button{
        font-family: 'Montserrat', sans-serif;
        background: #1D1D1B;
        padding: 8px 38px;
        cursor: pointer;
        color: white;
        outline: none;
        border: none;
    }
}