.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    align-items: center;
    top: 0;
    left: 0;
    justify-content: center;
    display: flex;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
    }

    &_active{
        opacity: 1;
        pointer-events: all;
    }

    &__wrapper{
        position: relative;
        z-index: 10;
    }
}