@mixin scroller() {
    content: '';
    width: 90%;
    height: 3px;
    background: #FFFFFF;
    bottom: 10px;
    left: $left;
    position: absolute;
}

@mixin scroller_cover() {
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.productItem{
    width: 24.5%;
    margin-bottom: 6px;
    overflow: hidden;
    position: relative;
    text-align: left;
    cursor: pointer;

    @media screen and (max-width: 950px){
        width: 33%;
    }

    @media screen and (max-width: 640px){
        width: 49.5%;
    }

    @media screen and (max-width: 440px){
        width: 100%;
    }

    &_multy{
        width: 19.5%;

        .productItem__images{
            height: 332px;
        }

        @media screen and (max-width: 1200px){
            width: 24% !important;
        }

        @media screen and (max-width: 1000px){
            width: 100% !important;

            .productItem__images{
                height: 390px;
            }
        }

        @media screen and (max-width: 480px){
            .productItem__images{
                height: 330px;
            }
        }
    }

    &:hover &__heart{
        display: block;
    }

    &__heart{
        position: absolute;
        right: 13px;
        top: 13px;
        color: white;
        height: 28px;
        cursor: pointer;
        font-size: 28px;
        display: none;
        z-index: 2;

        &_visible{
            display: block;
        }

        .active{
            color: #E5271B;
        }

        @media screen and (max-width: 640px){
            font-size: 32px;
        }

        @media screen and (max-width: 450px){
            font-size: 28px;
        }
    }

    &__discount{
        position: absolute;
        background: #E5271B;
        left: -47.5px;
        top: -52.5px;
        color: white;
        width: 85px;
        height: 85px;
        pointer-events: none;
        padding-bottom: 7px;
        justify-content: center;
        transform: rotate(-45deg);
        display: flex;
        z-index: 2;
        align-items: flex-end;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        
        @media screen and (max-width: 640px){
            font-size: 16px;
            left: -45px;
            top: -50px;
        }

        @media screen and (max-width: 450px){
            font-size: 12px;
            left: -47.5px;
            top: -52.5px;
        }
    }

    &:hover &__images .scroller_cover{
        display: block !important;
    }

    &__images{
        height: 437px;
        position: relative;

        .scroller_cover{
            bottom: 0;
            height: 100%;
            display: none;
            position: absolute;

            &::before{
                content: '';
                width: 100%;
                height: 3px;
                background: #FFFFFF;
                display: none;
                bottom: 10px;
                position: absolute;
            }

            &_active{
                &::before{
                    display: block;
                }
            }
        }
        
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        @media screen and (max-width: 1300px){
            height: 400px;
        }

        @media screen and (max-width: 1150px){
            height: 370px;
        }

        @media screen and (max-width: 1050px){
            height: 340px;
        }

        @media screen and (max-width: 950px){
            height: 400px;
        }

        @media screen and (max-width: 850px){
            height: 370px;
        }

        @media screen and (max-width: 750px){
            height: 340px;
        }

        @media screen and (max-width: 680px){
            height: 310px;
        }

        @media screen and (max-width: 640px){
            height: 420px;
        }
        
        @media screen and (max-width: 570px){
            height: 380px;
        }

        @media screen and (max-width: 500px){
            height: 350px;
        }

        @media screen and (max-width: 440px){
            height: 380px;
        }
    }

    &:hover{
        .productItem__images{
            div{
                display: block !important;
            }
        }
    }

    &__info{
        background: white;
        box-sizing: border-box;
        padding: 10px;

        >div{
            align-items: center;
            display: flex;

            .active{
                font-weight: 500;
                font-size: 13px;
                line-height: 16px;
                text-decoration-line: line-through;
                color: #979797;
                margin-right: 10px;
            }
        }

        h5{
            margin: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: #393939;
            overflow: hidden;
            height: 18px;
        }

        p{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin: 6px 0;
            margin-bottom: 3px;
            color: #393939;
        }

        span {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #7C7C7C;
        }

        &__colors{
            display: flex;
            margin-top: 10px;
            position: relative;

            div{
                opacity: 0.47;
                width: 9px;
                height: 9px;
                border-radius: 4px;
                margin-right: 15px;
                cursor: pointer;
                position: relative;
            }

            .activeColor{
                &::before{
                    content: '';
                    position: absolute;
                    width: 160%;
                    height: 160%;
                    left: -40%;
                    top: -40%;
                    border: 1px solid rgb(170, 170, 170);
                    border-radius: 50%;
                }
            }
        }
    }
}