@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables.scss';

html{
    scroll-behavior: smooth;
}

button,
.root{
    font-family: 'Montserrat', sans-serif;
}

.container{
    background: $app-pages-background;

    &__wrapper{
        max-width: $app-container-width;
        margin: 0 auto;

        @media screen and (max-width: 1250px){
            width: 90%;
        }
    }

    .marginTopStyle{
        margin-top: 15px;
    }
}